/* :checked */
@media print {
    button {
        display: none;
    }
    pre {
        margin: 0;
        font-size: 15px !important;
    }

    label {
        margin: 0;
        font-size: 15px !important;
    }
}

section {
    width: 100%;
}

.sec1, .sec2 {
    height: auto;
    box-sizing: border-box
}

.title {
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
}

label, pre {
    padding: 0 !important;
    margin: 0;
}

pre {
    margin: 0;
    display: block;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left;
    font-size: 27px;
}

@media only screen and (max-width: 568px) {
    .title {
        font-size: 22px;
        font-weight: bold
    }
    pre {
        font-size: 17px;
        font-weight: bold
    }
    .btnsubmit {
        font-size: 17px;
    }
}

.blue {
    color: darkgreen;
    font-weight: bolder;
}

.checkright {
    background: #AAE2E2;
    padding: 10px;
}

.checkwrong {
    background: antiquewhite;
    padding: 10px;
}
